<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="login">
  <h1>Admin Login</h1>
  <form>
    <input type="text" id="userName"  name="u" placeholder="Username" required="required" />
    <input type="password" id="userPassword" name="p" placeholder="Password" required="required" />
    <button type="button" onclick="loginCheck()" class="btn btn-primary btn-block btn-large">Let me in.</button>
  </form>
</div>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    function loginCheck() {
        var userName = $("#userName").val();
        var userPassword = $("#userPassword").val();
        var data = {
            "userName":userName,
            "userPassword":userPassword
        };
        $.ajax({
            url : "/WageManage/admin/loginResult",
            type: "post",
            contentType: "application/json",
            dataType:"json",
            data: JSON.stringify(data),
            async :false,
            success: function (data) {
                if (data.length > 0){
                    window.location.href = "/WageManage/admin/login?"+"&userName="+data[0].userName+"&jobId="+data[0].jobId;
                }else {
                    console.log("密码错误")
                    layer.tips('密码错误', '#userPassword', {
                        tips: [2, '#FF3030'],
                        time: 2000
                    });
                    $("#userPassword").val('');
                }
            }
        });
    }
</script>
</body>
</html>